* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia/georgia.ttf');
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arialmt.ttf');
    font-style: normal; 
    font-weight: 400;
}

.Georgia-normal {
    font-family: Georgia;
    font-weight: 400;
}

.Arial-normal {
    font-family: Arial;
    font-weight: 400;
}

.start-screen {
    background: url("../assets/image/start_screen_background.png") ,radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 90px 40px;
}

.header__logo__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    transition: 0.5s;
}

.header__logo__title {
    color: #F1CDB3;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em; 
}

.header__logo__subtitle {
    display: block;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0 0 0;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav__list__item {
    padding: 0 38px 0 0;
}

.nav__list__item:last-child{
    padding: 0;
}

.nav__link {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;
    transition: 0.5s;
}

.nav__link:hover {
    color: #FAFAFA;
}

.active {
    display: block;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    pointer-events: none;
}

.nav__link:active {
    display: block;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.not-only {
    max-width: 1280px;
    margin: 0 auto;
}

.not-only__wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 163px 40px 243px 40px ;
    background: url('../assets/image/start-screen-puppy.png') no-repeat 93% 100%;
}

.not-only__content {
    max-width: 460px;
}

.not-only__content__title {
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
    padding: 0 0 42px 0;
}

.not-only__content__text {
    display: block;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 0 0 42px 0;

}

.not-only__content__link {
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    text-decoration: none;
    width: 208px;
    transition: 0.5s;
}

.not-only__content__link:hover {
    background: #FDDCC4;
}

.not-only__content__link:active {
    background: #F1CDB3;
}

.not-only__content__link__text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.about {
    background-color: #FFFFFF;
}

.about__wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: end;
    margin: 0 auto;
    padding: 95px 40px 115px 40px;
    background: url('../assets/image/about-pets.png') no-repeat 22% 45%;
}

.about__content {
    padding-right: 175px;
}

.about__content__title {
    max-width: 368px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__content__text {
    display: block;
    max-width: 430px;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding: 25px 0 25px 0;
}

.about__content__text:last-child {
    padding: 0;
}

.pets {
    background: #F6F6F6;
}

.pets__wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    margin: 0 auto;
}

.pets__title {
    max-width: 400px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding: 0 0 55px 0;
    align-self: center;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.slider__wrapper {
    display: flex;
    gap: 90px;
}

.slider__arrow {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    transition: 0.5s;
}

.slider__arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider__arrow:active {
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
}

.slider__arrow__img {
    display: block;
}

.right {
    transform: rotate(-180deg);
}

.slider__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    max-width: 270px;
    transition: all 0.5s;
}

.slider__article:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    transform: scale(1.1);
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
}

.slider__article:hover > .slider__article__link {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider__article__img {
    display: flex;
    max-width: 270px;
}

.slider__article__text {
    display: block;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    padding: 30px 0 30px 0;
}

.slider__article__link {
    border-radius: 100px;
    width: 188px;
    display: block;
    text-decoration: none;
    margin: 0 0 30px 0;
    align-self: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 0.5s;
}

.slider__article__link:hover {
    transform: scale(1.1);
}

.slider__article__link:active {
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
}

.slider__article__link__text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
}

.pets__link {
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    text-decoration: none;
    width: 262px;
    margin: 57px 0 0 0;
    align-self: center;
    transition: 0.5s;
}

.pets__link:hover {
    background: #FDDCC4;
}

.pets__link:active {
    background: #F1CDB3;
}

.pets__link__text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.help {
    background-color: #FFFFFF;
}

.help__wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.help__title {
    max-width: 310px;
    align-self: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 60px 0;
    text-align: center;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 21px 0 21px;
    gap: 55px 120px;
}

.help__list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.help__list__item::before {
    display: block;
    content: "";
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}

.item__food::before{
    content: url(../assets/image/food.svg);
}

.item__transportation::before {
    content: url(../assets/image/transportation.svg);
}

.item__toys::before {
    content: url(../assets/image/toys.svg);
}

.item__cups::before {
    content: url(../assets/image/bowls-and-cups.svg);
}

.item__shampoos::before {
    content: url(../assets/image/shampoos.svg);
}

.item__vitamins::before {
    content: url(../assets/image/vitamins.svg);
}

.item__medicines::before {
    content: url(../assets/image/medicines.svg);
}

.item__leashes::before {
    content: url(../assets/image/collars-or-leashes.svg);
}

.item__sleeping::before {
    content: url(../assets/image/sleeping-area.svg);
}

.donation {
    background-color: #F6F6F6;
}

.donation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 79px 0 69px 0;
    margin: 0 auto;
    max-width: 1280px;
    background: url(../assets/image/donation-dog.png) no-repeat 24% 41%;
}

.donation__content {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 0 183px 0 auto;
}

.donation__content__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 20px 0;
}

.donation__content__text {
    display: block;
    font-size: 15px;
    line-height: 110%;  
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 20px 0;
}

.donation__content__link {
    text-decoration: none;
    margin: 0 0 20px 0;
    background: #F1CDB3;
    border-radius: 9px;
    max-width: 350px;
    transition: 0.5s;
}

.donation__content__link:hover {
    background: #FDDCC4;
}

.donation__content__link:active {
    background: #F1CDB3;
}

.donation__content__link__text {
    display: flex;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 10px 15px;
}

.donation__content__link__text::before {
    content: url('../assets/image/credit-card.svg');
    padding: 0 15px 0 0;
}

.donation__content__mini-txt {
    display: block;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    background: url('../assets/image/start_screen_background.png') ,radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-repeat: no-repeat;
}

.footer__wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 56px 40px 46px 40px;
    margin: 0 auto;
    background: url('../assets/image/footer-puppy.png') no-repeat 96% 100%;
}

.footer__side-content {
    display: flex;
    flex-direction: column;
    max-width: 279px;
    margin: 0 160px 0 0;
}

.footer__side-content__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__side-content__email__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__side-content__email__link:hover {
    color: #fde4d1;
}

.footer__side-content__email__link:active {
    color: #F1CDB3;
}

.footer__side-content__email {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 40px 0 40px 0;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__side-content__email::before {
    content: url('../assets/image/mail.svg');
    padding: 0 20px 0 0;
}

.footer__side-content__tel__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__side-content__tel__link:hover {
    color: #fde4d1;
}

.footer__side-content__tel__link:active {
    color: #F1CDB3;
}

.footer__side-content__tel {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__side-content__tel::before {
    content: url('../assets/image/phone.svg');
    padding: 0 20px 0 0;
}

.footer__center-content {
    display: flex;
    flex-direction: column;
    max-width: 302px;
}

.footer__center-content__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__center-content__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__center-content__link:hover {
    color: #fde4d1;
}

.footer__center-contet__link:active {
    color: #F1CDB3;
}

.footer__center-content__boston {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 34px 0 37px 0;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__center-content__boston::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}

.footer__center-content__london {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__center-content__london::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}