* {
    margin: 0;
}

body {
    background: url("../assets/image/start-screen-gradient-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia/georgia.ttf');
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arialmt.ttf');
    font-style: normal; 
    font-weight: 400;
}

.Georgia-normal {
    font-family: Georgia;
    font-weight: 400;
}

.Arial-normal {
    font-family: Arial;
    font-weight: 400;
}

header {
    position: relative;
    z-index: 2;
    padding: 30px 40px 90px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;

}

.header-logo-title {
    color: #F1CDB3;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em; 
}

.header-logo-subtitle {
    display: block;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0 0 0;

}

.header-nav {

}

.header-nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.header-nav-list-item {
    padding: 0 50px 0 0;

}

.header-nav-list-item:last-child{
    padding: 0;
}

.header-nav-link {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;

}

.header-nav-link:hover {
    color: #FAFAFA;
}

.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.header-nav-link:active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.startScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;

}

.startScreen-info {

}

.startScreen-info-title {
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
    padding: 0 0 42px 0;

}

.startScreen-info-text {
    display: block;
    max-width: 460px;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 0 0 42px 0;

}

.startScreen-info-link {
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    text-decoration: none;
    width: 208px;
}

.startScreen-info-link:hover {
    background: #FDDCC4;
}

.startScreen-info-link:active {
    background: #F1CDB3;
}


.startScreen-info-link-text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.startScreen-img {
    bottom: 0px;
    max-width: 698px;
    height: 728px;
}

.about {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 80px 40px 100px 40px;
    justify-content: center;
}

.about-info {
    padding-left: 120px;
}

.about-info-title {
    max-width: 370px;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 6%;
    color: #545454;

}

.about-info-text {
    display: block;
    max-width: 430px;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding: 25px 0 25px 0;
}

.about-info-text:last-child {
    padding: 0;
}

.about-img {
    max-width: 300px;
}

.pets {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    background: #F6F6F6;
}

.pets-title {
    max-width: 400px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding: 0 0 60px 0;
    align-self: center;
}

.pets-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pets-slider-arrow {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 53px 0 0;
    background-color: #F6F6F6;
}

.pets-slider-arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-slider-arrow:active {
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
}

.right {
    transform: rotate(-180deg);
    margin: 0 0 0 53px;
}

.pets-slider-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;;
    max-width: 270px;
}

.pets-article-img {
    max-width: 270px;
}

.pets-article-text {
    display: block;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    padding: 30px 0 30px 0;

}

.pets-article-link {
    border-radius: 100px;
    width: 188px;
    display: block;
    text-decoration: none;
    margin: 0 0 30px 0;
    align-self: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.pets-article-link:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-article-link:active {
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
}

.pets-article-link-text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;

}

.pets-link {
    background: #F1CDB3;
    border-radius: 100px;
    display: block;
    text-decoration: none;
    width: 262px;
    margin: 60px 0 0 0;
    align-self: center;
}

.pets-link:hover {
    background: #FDDCC4;
}

.pets-link:active {
    background: #F1CDB3;
}

.pets-link-text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.help {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 80px 40px 45px 40px;
}

.help-title {
    max-width: 310px;
    align-self: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 60px 0;
    text-align: center;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-list-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    margin: 0 120px 0 0;

}

.help-list-link-text {
    display: block;
    padding: 30px 0 55px 0;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.help-list-link:nth-child(5n){
    margin: 0;
}
.help-list-link:nth-child(9n){
    margin: 0;
}

.donation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0;
    background-color: #F6F6F6;

}

.donation-img {

}

.donation-info {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    padding: 0 0 0 30px;

}

.donation-info-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 20px 0;

}

.donation-info-text {
    display: block;
    font-size: 15px;
    line-height: 110%;  
    letter-spacing: 0.06em;
    color: #545454;
    padding: 0 0 20px 0;

}

.donation-info-link {
    text-decoration: none;
    margin: 0 0 20px 0;
    background: #F1CDB3;
    border-radius: 9px;
    max-width: 350px;
}

.donation-info-link:hover {
    background: #FDDCC4;
}

.donation-info-link:active {
    background: #F1CDB3;
}
.donation-info-link-text {
    display: flex;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 10px 15px;
}
.donation-info-link-text::before {
    content: url('../assets/image/credit-card.svg');
    padding: 0 15px 0 0;
}

.donation-info-miniTxt {
    display: block;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;

}
