* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia/georgia.ttf');
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arialmt.ttf');
    font-style: normal; 
    font-weight: 400;
}

.Georgia-normal {
    font-family: Georgia;
    font-weight: 400;
}

.Arial-normal {
    font-family: Arial;
    font-weight: 400;
}

.header {
    max-width: 1280px;
    margin: 0 auto;
 }
 
 .header__wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 40px 27px 40px;
 }
 
 .header__logo__link {
     display: flex;
     flex-direction: column;
     text-decoration: none;
     align-items: center;
     transition: 0.5s;
 }
 
 .header__logo__title {
     color: #545454;
     font-size: 32px;
     line-height: 110%;
     letter-spacing: 0.06em; 
 }
 
 .header__logo__subtitle {
     display: block;
     color: #292929;
     letter-spacing: 0.1em;
     font-size: 13px;
     line-height: 15px;
     padding: 10px 0 0 0;
 }
 
 .nav__list {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-direction: row;
 }
 
 .nav__list__item {
     padding: 0 38px 0 0;
 }
 
 .nav__list__item:last-child{
     padding: 0;
 }
 
 .nav__link {
     font-size: 15px;
     line-height: 160%;
     text-decoration: none;
     color: #545454;
     transition: 0.5s;
 }
 
 .nav__link:hover {
     color: #292929;
 }
 
 .active {
     display: block;
     color: #545454;
     border-bottom: 3px solid #F1CDB3;
     pointer-events: none;
 }
 
 .nav__link:active {
     color: #545454;
     display: block;
     border-bottom: 3px solid #F1CDB3;
 }




.pets {
    background: #F6F6F6;
}

.pets__wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    margin: 0 auto;

}

.pets__title {
    max-width: 400px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding: 0 0 30px 0;
    align-self: center;
}

.slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.slider__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    max-width: 270px;
    transition: all 0.5s;
    margin: 30px 0 0 0;
}

.slider__article:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    transform: scale(1.1);
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
}

.slider__article:hover > .article__link {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.article__img {
    max-width: 270px;
}

.article__text {
    display: block;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    padding: 30px 0 30px 0;

}

.article__link {
    border-radius: 100px;
    width: 188px;
    display: block;
    text-decoration: none;
    margin: 0 0 25px 0;
    align-self: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 0.5s;
}


.article__link:hover {
    transform: scale(1.1);
}

.article__link:active {
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
}

.article__link__text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
}

.pets__links {
    max-width: 355px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 60px 0 0 0;
    align-self: center;
}

.link {
    text-decoration: none;
    transition: 0.5s;
    margin: 0 20px 0 0;
}

.link:last-child {
    margin: 0;
}

.back, .backback {
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    color: #CDCDCD;
    pointer-events: none;
}

.back__symbol, .backback__symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.right, .rightright {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    color: #292929;
}

.right:hover, .rightright:hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}

.right:active, .rightright:active {
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
}

.right__symbol, .rightright__symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.number {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1CDB3;
    color: #292929;
    pointer-events: none;
}
.number__symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}





.footer {
    background: url('../assets/image/footer-gradient-background.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
    #211F20;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 56px 40px 46px 40px;
    margin: 0 auto;
    background: url('../assets/image/footer-puppy.png') no-repeat 96% 100%;
}

.footer__side-content {
    display: flex;
    flex-direction: column;
    max-width: 279px;
    margin: 0 160px 0 0;
}

.footer__side-content__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__side-content__email__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__side-content__email__link:hover {
    color: #fde4d1;
}

.footer__side-content__email__link:active {
    color: #F1CDB3;
}

.footer__side-content__email {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 40px 0 40px 0;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__side-content__email::before {
    content: url('../assets/image/mail.svg');
    padding: 0 20px 0 0;
}

.footer__side-content__tel__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__side-content__tel__link:hover {
    color: #fde4d1;
}

.footer__side-content__tel__link:active {
    color: #F1CDB3;
}

.footer__side-content__tel {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__side-content__tel::before {
    content: url('../assets/image/phone.svg');
    padding: 0 20px 0 0;
}

.footer__center-content {
    display: flex;
    flex-direction: column;
    max-width: 302px;
}

.footer__center-content__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__center-content__link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer__center-content__link:hover {
    color: #fde4d1;
}

.footer__center-contet__link:active {
    color: #F1CDB3;
}

.footer__center-content__boston {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 34px 0 37px 0;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__center-content__boston::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}

.footer__center-content__london {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer__center-content__london::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}




@media (max-width: 1200px) {

    .footer__wrapper {
        padding: 30px 64px 366px 64px;
        justify-content: space-between;
        background: url("../assets/image/media/footer-puppy-768.png") no-repeat 50% 99%;
    }


    .footer__side-content {
        margin: 0;
    }

}

@media (max-width: 1159px) {
    .slider__article:nth-child(n+7) {
        display: none;
    }
}


@media (max-width: 910px) {

    .header__wrapper {
        padding: 30px;
    }

    .pets__wrapper {
        padding: 80px 40px 72px 40px
    }

    .pets__title {
        padding: 0;
    }

    .slider__wrapper {
        justify-content: space-evenly;
    }

    .pets__links {
        margin: 40px 0 0 0;
    }
    
}

@media (max-width: 767px) {
    .header__wrapper{
        padding: 30px 20px 60px 20px;
        background: url("../assets/image/media/Burger-pets.svg") no-repeat 93% 38%;
    }

    .nav {
        display: none;
    }


    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer__side-content {
        padding: 0 0 40px 0;
    }
}

@media (max-width: 619px) {
    .slider__article:nth-child(n+4) {
        display: none;
    }
}

@media (max-width: 480px) {

    .header__wrapper {
        padding: 30px 20px 30px 20px;
        background: url("../assets/image/media/Burger-pets.svg") no-repeat 93% 50%;
    }

    .pets__wrapper {
        padding: 42px 10px 47px 10px;
    }
    .pets__title {
        font-size: 25px;
        padding: 0 0 11px 0;
    }

    .pets__links {
        max-width: 300px;
    }

    .link {
        margin: 0 10px 0 0;
        box-sizing: border-box;
    }


    .footer__wrapper {
        padding: 30px 10px 300px 10px;
        background: url("../assets/image/media/footer-puppy-320.png") no-repeat 50% 100%;
    }

    .footer__side-content {
        align-items: center;
        padding: 0 0 33px 0;

    }

    .footer__side-content__title {
        text-align: center;
        font-size: 25px;
    }

    .footer__side-content__email {
        padding: 43px 0 40px 0;
    }



    .footer__center-content {
        align-items: flex-start;
    }

    .footer__center-content__title {
        max-width: 280px;
        text-align: center;
        align-self: center;
        font-size: 25px;
    }

    .footer__center-content__boston {
        padding: 40px 0 41px 0;
    }
}