* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    max-width: 1280px;
    margin: auto;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia/georgia.ttf');
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial/arialmt.ttf');
    font-style: normal; 
    font-weight: 400;
}

.Georgia-normal {
    font-family: Georgia;
    font-weight: 400;
}

.Arial-normal {
    font-family: Arial;
    font-weight: 400;
}

header {
    position: relative;
    z-index: 2;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    transition: 0.5s;
}

.header-logo-title {
    color: #545454;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em; 
}

.header-logo-subtitle {
    display: block;
    color: #292929;
    letter-spacing: 0.1em;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 0 0 0;

}

.header-nav {

}

.header-nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.header-nav-list-item {
    padding: 0 38px 0 0;

}

.header-nav-list-item:last-child{
    padding: 0;
}

.header-nav-link {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
    transition: 0.5s;

}

.header-nav-link:hover {
    color: #7a7474;
}

.active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}

.header-nav-link:active {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}






.pets {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    background: #F6F6F6;
}

.pets-title {
    max-width: 400px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    padding: 0 0 30px 0;
    align-self: center;
}

.pets-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pets-slider-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    max-width: 270px;
    transition: 0.5s;
    margin: 30px 0 0 0;
}

.pets-slider-article:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.pets-article-img {
    max-width: 270px;
}

.pets-article-text {
    display: block;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    padding: 30px 0 30px 0;

}

.pets-article-link {
    border-radius: 100px;
    width: 188px;
    display: block;
    text-decoration: none;
    margin: 0 0 25px 0;
    align-self: center;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: 0.5s;
}

.pets-article-link:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-article-link:active {
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
}

.pets-article-link-text {
    display: block;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
}




.pets-links {
    max-width: 355px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 60px 0 0 0;
    align-self: center;
}

.link {
    text-decoration: none;
    transition: 0.5s;
    margin: 0 20px 0 0;
}

.link:last-child {
    margin: 0;
}

.back, .backback {
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    color: #CDCDCD;
}

.back:hover, .backback:hover {

}

.back:active, .backback:active {
    
}

.back-symbol, .backback-symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.right, .rightright {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    color: #292929;
}

.right:hover, .rightright:hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}

.right:active, .rightright:active {
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
}

.right-symbol, .rightright-symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.number {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1CDB3;
    color: #292929;
}

.number:hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}

.number:active {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}

.number-symbol {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}



/* .pets-slider-arrow {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 53px 0 0;
    background-color: #F6F6F6;
    transition: 0.5s;
}

.pets-slider-arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-slider-arrow:active {
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
} */



footer {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 29px 40px 0 40px;
    justify-content: space-between;
    align-items: center;
}

.footer-sideInfo {
    display: flex;
    flex-direction: column;
    max-width: 279px;
}

.footer-sideInfo-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-sideInfo-email-link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer-sideInfo-email-link:hover {
    color: #fde4d1;
}

.footer-sideInfo-email-link:active {
    color: #F1CDB3;
}

.footer-sideInfo-email {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 40px 0 40px 0;
    display: flex;
    letter-spacing: 0.06em;
}

.footer-sideInfo-email::before {
    content: url('../assets/image/mail.svg');
    padding: 0 20px 0 0;
}

.footer-sideInfo-tel-link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer-sideInfo-tel-link:hover {
    color: #fde4d1;
}

.footer-sideInfo-tel-link:active {
    color: #F1CDB3;
}

.footer-sideInfo-tel {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer-sideInfo-tel::before {
    content: url('../assets/image/phone.svg');
    padding: 0 20px 0 0;
}

.footer-centerInfo {
    display: flex;
    flex-direction: column;
    max-width: 302px;
}

.footer-centerInfo-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}
.footer-centerInfo-link {
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer-centerInfo-link:hover {
    color: #fde4d1;
}

.footer-centerInfo-link:active {
    color: #F1CDB3;
}

.footer-centerInfo-boston {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding: 40px 0 40px 0;
    display: flex;
    letter-spacing: 0.06em;

}

.footer-centerInfo-boston::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}

.footer-centerInfo-london {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    letter-spacing: 0.06em;
}

.footer-centerInfo-london::before {
    content: url('../assets/image/pin.svg');
    padding: 0 20px 0 0;
}

.footer-img {
    padding: auto;
}